<head>
	<title>Letter test</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:8888/danimator/dist/css/danimator.editor.min.css">
	<meta charset="utf-8" />
</head>
<body>
	<div class="panel" id="layers-panel">
		<label>
			<span class="title">Layers</span>
			<a class="toggle"></a>
		</label>
		<div class="scroll-container scroll-vertical">
			<ul class="main">
				<li>
					&nbsp;&nbsp; Loading …
				</li>
			</ul>
		</div>
	</div>

	<div class="panel" id="animations-panel">
		<label>
			<span class="title">Animations</span>
			<a class="toggle"></a>
		</label>
		<ul class="description">
			<li>
				Current time: <time contenteditable="true">0s</time>
				<input class="zoom" type="range" value=50 title="zoom factor">
				<output></output>
			</li>
		</ul>
		<div class="scroll-container scroll-horizontal">
			<ul class="main waiting">
				<li class="timeline">
					<p>Waiting for animations …</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="panel" id="properties-panel">
		<label>
			<span class="title">Properties</span><span class="type"></span>
			<a class="toggle"></a>
		</label>
		<ul class="main">
			<li><label><input type="checkbox" class="flag_changer" id="flag_view_selection" data-flag="view.selection" checked> show selection</label></li>
		</ul>
	</div>

	<div class="panel" id="audio-panel">
		<label>
			<span class="title">Audio</span>
			<a class="toggle"></a>
		</label>
		<ul class="main">
			<li><label>Waiting for a sound …</label></li>
		</ul>
	</div>

	<script type="text/template" id="layers-panel-item">
		<li class="layer<% if(hidden) { %> hidden<% } %>" id="layer-<%= id %>">
			<a class="visible fa"></a>
			<span class="name" title="(id #<%= id %>)"><%= name %></span>
			<% if(hasChildren){ %><a class="toggleGroup icon fa fa-caret-down"></a><% } %>
		</li>
	</script>

	<script type="text/template" id="animations-panel-item">
		<li class="item open" id="animations-panel-item-<%= track.item.id %>">
			<span class="name"><%= track.item.name %></span>
			<a class="toggleGroup icon fa fa-caret-down"></a>
			<ul>
				<% _.each(properties, function(ranges, property) { %>
					<%= _getTimeline(property, track) %>
				<% }); %>
				<% 
					/* ###TODO: move to JS */
					//$('#animations-panel ul.main').width( Danimator.maxDuration * TIME_FACTOR + 165 );
				%>
			</ul>
		</li>
	</script>

	<script type="text/template" id="animations-panel-item-timeline">
		<li class="timeline" data-property="<%= property %>" id="animations-panel-item-<%= track.item.id %>-<%= slug(property) %>">
			<label><%= property %></label>
			<div class="track">
				<% _.each(ranges, function(keyframe, key) { 
						lastRange 	= _.last(ranges);
						lastKey   	= ranges[key-1];
						activeFirst = _getStartTime(keyframe) == Danimator.time ? ' active' : '';
						activeLast  = _getEndTime(keyframe)   == Danimator.time ? ' active' : '';
				%>
					<% if(key === 0 || _getEndTime(lastKey) !== _getStartTime(keyframe)) { %>
						<div class="range prev" rel="prev/<%= keyframe.id%>" style="left:<%= (_getEndTime(lastKey) || 0) * TIME_FACTOR %>px; width:<%= (keyframe.options.delay - _.get(lastKey, 'duration', 0) - _.get(lastKey, 'options.delay', 0)) * TIME_FACTOR %>px; <%= _getStartStyle(property, ranges, key, track.item.className) %>;"></div>
						<div class="keyframe fresh<%= getTrigger(keyframe) %><%= activeFirst %>" data-time="<%= _getStartTime(keyframe) %>" title="<%= keyframe.from || _.get(lastKey, 'to', keyframe.initValue) %>" style="left:<%= _getStartTime(keyframe) * TIME_FACTOR %>px;"></div>
					<% } %>
						<div class="range tween" rel="tween/<%= keyframe.id%>" style="left:<%= _getStartTime(keyframe) * TIME_FACTOR %>px; width:<%= keyframe.duration * TIME_FACTOR %>px; <%= _getRangeStyle(property, ranges, key, track.item.className) %>" title="<%= keyframe.name %> triggered by <%= keyframe.caller %>"></div>

					<% if(keyframe.duration > 0) { %>
						<div class="keyframe fresh<%= getTrigger(keyframe) %><%= activeLast %>" data-time="<%= _getEndTime(keyframe) %>" title="<%= keyframe.to %>" style="left:<%= _getEndTime(keyframe) * TIME_FACTOR %>px;"></div>
					<% } %>
				<% }); %>

				<div class="range last" rel="last" style="left:<%= _getEndTime(lastRange) * TIME_FACTOR %>px; right: 0; <%= _getEndStyle(property, lastRange, track.item.className) %>;"></div>
				<div class="scrubber" style="left:<%= Danimator.time * TIME_FACTOR %>px"></div>
				<label class="time" style="left:<%= track.maxDuration * TIME_FACTOR %>px"><%= _.round(track.maxDuration, 2) %></label>
			</div>
		</li>
	</script>

	<script type="text/template" id="properties-panel-empty-item">
		<li>
			<label>
			<% if(checked) { %>
				<input type="checkbox" class="flag_changer" id="flag_view_selection" data-flag="view.selection" checked>
			<% } else { %>
				<input type="checkbox" class="flag_changer" id="flag_view_selection" data-flag="view.selection">
			<% } %>
		 		show selection
		 	</label>
		</li>
	</script>

	<script type="text/template" id="properties-panel-item">
		<li class="prop <%= keyed.join(' ') %>">
			<label><%= name %>
				<% if(name.match(/color$/gi)) { %>
					<input type="color" data-prop="<%= path %><%= name %>" value="<%= (new paper.Color(value)).toCSS(true) %>">
				<% }%>
			</label>
			<% switch(type) { 

				case Boolean: %>
				<input type="checkbox" data-prop="<%= path %><%= name %>" checked="<%= (value ? 'checked' : '') %>">
			<% 		break; 

				case String:
					if(allowedValues) { 
			%>
				<select data-prop="<%= path %><%= name %>">
					<% _.each(allowedValues, function(aValue) { 
							if(aValue === value) { 						%>
								<option selected><%= aValue %></option>
					<%		} else { 									%>
								<option><%= aValue %></option>
					<%		}
						}); %>
				</select>
			<%		} else { 
			%>
						<input type="text" data-prop="<%= path %><%= name %>" value="<%= value %>">
			<%		} 
					break; 

				case 'elements': 
				case 'group': 
			%>
				<a class="toggleGroup icon fa fa-caret-down"></a>
			<% 		break; 
			
				default: 
			%>
				<input type="number" data-prop="<%= path %><%= name %>" value="<%= value %>" min="<%= range[0] %>" max="<%= range[1] %>" step="<%= step %>" title="<%= keyed.join(' and ') %>">
			<% 		break;
			} %>
		</li>
	</script>

	<script type="text/template" id="audio-panel-item">
		<li class="audio" id="<%= id %>" title="<%= name %>">
			<label><%= name %></label>
		</li>
	</script>


	<canvas id="mainCanvas" resize></canvas>
	<div id="dummy"></div>

	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script!-->
	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.core.min.js"></script!-->
	
	<script src="js/libs/jquery-1.11.3.min.js"></script>
	<script src="http://localhost:8888/danimator/src/engine/libs/lodash.js"></script>
	<script src="http://localhost:8888/danimator/src/engine/libs/paper-full.min.js"></script>
	<script src="http://localhost:8888/danimator/src/engine/libs/easing.js"></script>
	<script src="http://localhost:8888/danimator/src/engine/_engine.js"></script>
	<script src="http://localhost:8888/danimator/src/engine/effectors.js"></script>
	<script src="http://localhost:8888/danimator/src/engine/geometrics.js"></script>
	<script src="http://localhost:8888/danimator/src/engine/handlers.js"></script>
	<script src="http://localhost:8888/danimator/dist/js/Danimator.audio.min.js"></script>
	<!-- <script src="http://localhost:8888/danimator/dist/js/Danimator.js"></script> -->
	<script src="js/game.js"></script>

	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/alertify.min.css"/>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/default.min.css"/>
	<script src="//cdn.jsdelivr.net/alertifyjs/1.10.0/alertify.min.js"></script>

	<script src="http://localhost:8888/danimator/src/editor/libs/filesaver.js"></script>
	<script src="http://localhost:8888/danimator/src/editor/libs/wavesurfer.min.js"></script>
	<script src="http://localhost:8888/danimator/src/editor/libs/jquery-ui.min.js"></script>
	<script src="http://localhost:8888/danimator/src/editor/_jquery.extensions.js"></script>
	<script src="http://localhost:8888/danimator/src/editor/_panels.js"></script>
	<script src="http://localhost:8888/danimator/src/editor/_undo.js"></script>
	<script src="http://localhost:8888/danimator/src/editor/_selection.js"></script>
	<script src="http://localhost:8888/danimator/src/editor/_snappables.js"></script>
	<script src="http://localhost:8888/danimator/src/editor/editor.js"></script>
	<!-- <script src="http://localhost:8888/danimator/dist/js/Danimator.editor.min.js"></script> -->

	<!-- <script src="games/strokes/strokes.js" type="text/javascript"></script>
	<script src="games/strokes/levels/purrly.js" type="text/paperscript" canvas="mainCanvas"></script> -->
	<script src="games/bearBriefing.js" type="text/paperscript" canvas="mainCanvas"></script>
</body>