<head>
	<title>Letter test</title>
	<link rel="stylesheet" type="text/css" href="css/Danimator.editor.min.css">
	<meta charset="utf-8" />
</head>
<body>
	<div class="panel" id="layers">
		<label>
			<span class="title">Layers</span>
			<a class="toggle"></a>
		</label>
		<ul class="main">
			<li>
				&nbsp;&nbsp; Loading …
			</li>
		</ul>
	</div>

	<template id="layer-panel-item">
		<li class="layer<% if(hidden) { %> hidden<% } %>" id="layer-<%= id %>">
			<a class="visible fa"></a>
			<span class="name" title="(id #<%= id %>)"><%= name %></span>
			<% if(hasChildren){ %><a class="toggleGroup icon fa fa-caret-down"></a><% } %>
		</li>
	</template>

	<div class="panel" id="keyframes">
		<label>
			<span class="title">Animations</span>
			<a class="toggle"></a>
		</label>
		<ul class="description">
			<li>
				Current time: <time contenteditable="true">0s</time>
				<input class="zoom" type="range" value=50 title="zoom factor">
				<output></output>
			</li>
		</ul>
		<ul class="main">
			<li class="timeline">
				<p>Waiting for animations …</p>
			</li>
		</ul>
	</div>

	<template id="keyframe-panel-item">
		<li class="item open">
			<span class="name"><%= name %></span>
			<a class="toggleGroup icon fa fa-caret-down"></a>
			<ul>
				<% _.each(properties, function(ranges, property) { %>
					<li class="timeline" data-property="<%= property %>">
						<label><%= property %></label>
						<div class="track">
							<% _.each(ranges, function(keyframe, key) { 
									lastRange 	= _.last(ranges);
									lastKey   	= ranges[key-1];
									activeFirst = _getStartTime(keyframe) == currentGame.time ? ' active' : '';
									activeLast  = _getEndTime(keyframe)   == currentGame.time ? ' active' : '';
							%>
								<div class="range" rel="prev" style="left:<%= _.get(lastKey, 'options.delay', 0) * TIME_FACTOR + _.get(lastKey, 'duration', 0) * TIME_FACTOR %>px; width:<%= (keyframe.options.delay - _.get(lastKey, 'duration', 0) - _.get(lastKey, 'options.delay', 0)) * TIME_FACTOR %>px; <%= _getStartStyle(property, ranges, key, type) %>;"></div>

								<div class="keyframe<%= getTrigger(keyframe) %><%= activeFirst %>" data-time="<%= _getStartTime(keyframe) %>" title="<%= keyframe.from || _.get(lastKey, 'to', keyframe.initValue) %>" style="left:<%= keyframe.options.delay * TIME_FACTOR %>px;"></div>
								<div class="range" rel="tween" style="left:<%= keyframe.options.delay * TIME_FACTOR %>px; width:<%= keyframe.duration * TIME_FACTOR %>px; <%= _getRangeStyle(property, ranges, key, type) %>" title="<%= keyframe.name %> triggered by <%= keyframe.caller %>"></div>
								<% if(keyframe.duration > 0) { %>
									<div class="keyframe<%= getTrigger(keyframe) %><%= activeLast %>" data-time="<%= _getEndTime(keyframe) %>" title="<%= keyframe.to %>" style="left:<%= (keyframe.options.delay + keyframe.duration) * TIME_FACTOR %>px;"></div>
								<% } %>
							<% }); %>

							<div class="range" rel="last" style="left:<%= (lastRange.options.delay + lastRange.duration) * TIME_FACTOR %>px; right: 0; <%= _getEndStyle(property, lastRange, type) %>;"></div>
							<div class="scrubber" style="left:<%= currentGame.time * TIME_FACTOR %>px"></div>
							<label class="time" style="left:<%= maxDuration * TIME_FACTOR %>px"><%= maxDuration %></label>
						</div>
					</li>
				<% }); %>
			</ul>
		</li>
	</template>

	<div class="panel" id="properties">
		<label>
			<span class="title">Properties</span><span class="type"></span>
			<a class="toggle"></a>
		</label>
		<ul class="main">
			<li><label>Waiting for a selection …</label></li>
		</ul>
	</div>

	<template id="property-panel-item">
		<li class="prop <%= keyed.join(' ') %>">
			<label><%= name %>
				<% if(name.match(/color$/gi)) { %>
					<input type="color" data-prop="<%= path %><%= name %>" value="<%= (new paper.Color(value)).toCSS(true) %>">
				<% }%>
			</label>
			<% switch(type) { 

				case Boolean: %>
				<input type="checkbox" data-prop="<%= path %><%= name %>" checked="<%= (value ? 'checked' : '') %>">
			<% 		break; 

				case String:
					if(allowedValues) { 
			%>
				<select data-prop="<%= path %><%= name %>">
					<% _.each(allowedValues, function(aValue) { %>
						<option><%= aValue %></option>
					<% }); %>
				</select>
			<%		} else { 
			%>
						<input type="text" data-prop="<%= path %><%= name %>" value="<%= value %>">
			<%		} 
					break; 

				case 'elements': 
				case 'group': 
			%>
				<a class="toggleGroup icon fa fa-caret-down"></a>
			<% 		break; 
			
				default: 
			%>
				<input type="number" data-prop="<%= path %><%= name %>" value="<%= value %>" min="<%= range[0] %>" max="<%= range[1] %>" step="<%= step %>" title="<%= keyed.join(' and ') %>">
			<% 		break;
			} %>
		</li>
	</template>

	<div class="panel" id="audio">
		<label>
			<span class="title">Audio</span>
			<a class="toggle"></a>
		</label>
		<ul class="main">
			<li><label>Waiting for a sound …</label></li>
		</ul>
	</div>

	<template id="audio-panel-item">
		<li class="audio" id="<%= id %>" title="<%= name %>">
			<label><%= name %></label>
		</li>
	</template>

	<canvas id="mainCanvas" resize></canvas>
	<div id="dummy"></div>

	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script!-->
	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.core.min.js"></script!-->
	<script src="js/libs/lodash.js"></script>
	<script src="js/libs/howler.core.min.js"></script>
	<script src="js/libs/jquery-1.11.3.min.js"></script>

	<script src="js/Danimator.min.js" type="text/javascript"></script>
	<script src="js/game.min.js" type="text/javascript"></script>

	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/alertify.min.css"/>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/default.min.css"/>
	<script src="//cdn.jsdelivr.net/alertifyjs/1.10.0/alertify.min.js"></script>
	<script src="js/source/editor/_undo.js" type="text/javascript"></script>
	<script src="js/source/editor/_filesaver.js" type="text/javascript"></script>
	<script src="js/source/editor/_wavesurfer.min.js" type="text/javascript"></script>
	<script src="js/source/editor/_jquery-ui.min.js" type="text/javascript"></script>
	<!-- <script src="js/source/editor/editor.js" type="text/javascript"></script> -->
	<!-- <script src="js/Danimator.editor.min.js" type="text/javascript"></script> -->

	<script src="games/strokes/strokes.js" type="text/javascript"></script>
	<script src="games/strokes/levels/tuby.js" type="text/paperscript" canvas="mainCanvas"></script>
	<!-- <script src="games/bearBriefing.js" type="text/paperscript" canvas="mainCanvas"></script> -->
</body>